@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

* {
  font-family: 'ClashDisplay';
  font-weight: 500;
}

#root {
  max-width: 1280px;
  margin: 0 0;
  text-align: center;
}

.card {
  padding: 2em;
}

.backgroundCanvas {
  position: absolute;
  left: -1000000px;
  top: -1000000px;
  width: 2000000px;
  height: 2000000px;
  background: transparent;
  cursor: grab;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--white-bg);
}

.box {
  background-color: var(--red);
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1000000px;
  top: 1000000px;
  transform: translate(-50%, -50%);
}

.project-cards {
  cursor: pointer;
}

.title {
  position: absolute;
  left: 1000000px;
  top: 1000000px;
  transform: translate(-50%, -50%);
  color: black;
  width: 20rem;
}

.title .split-parent{
  overflow-y: hidden;
}

.navbar {
  position: fixed;
  top: 30px;
  left: 50%;
  right: 50%;
  width: fit-content;
  transform: translate(-50%, 0);
  color: black;
  background-color: white;
  z-index: 9999;
  border-radius: 100px;
  padding: 10px 40px;
  box-shadow: 0px 4px 15px 15px rgba(2, 2, 99, 0.05);
}

.navbar .content {
  display: flex;
  flex-direction: row;
  color: black;
  align-content: space-between;
  gap: 100px;
  align-items: center;
}

.navbar .tabs {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.navbar .tabs span{
  font-weight: 400;
  font-size: 1.25rem;
}

.navbar .tag {
  transition: .3s ease;
  cursor: pointer;
  font-weight: 400;
  font-size: 2.5rem;
}

.navbar .tag:hover {
  font-weight: 500;
}

.navbar h1 {
  margin: 0;
}

.navbar img {
  width: 1.5rem;
  transition: .5s ease;
}

.navbar img:hover {
  transform: rotate(180deg);
}

/* INTROOOOOO */

.intro {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro .intro-container {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.intro img {
  width: 30px;
  height: 30px;
}

.intro-title {
  color: black;
  height: fit-content;
  font-size: 5rem;
  overflow: hidden;
  height: 6rem;
}

.intro-title .split-parent div {
  overflow: hidden;
}