@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

* {
  font-family: 'ClashDisplay';
  font-weight: 500;
}

#root {
  margin: 0 0;
  text-align: center;
  overflow: hidden;
}

.card {
  padding: 2em;
}

.backgroundCanvas {
  position: absolute;
  left: -1000000px;
  top: -1000000px;
  width: 2000000px;
  height: 2000000px;
  background: transparent;
  cursor: grab;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--white-bg);
}

.box {
  background-color: var(--red);
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1000000px;
  top: 1000000px;
  transform: translate(-50%, -50%);
}

.project-cards {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: end;

  .content {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
  }

  div {
    height: fit-content;
    overflow: hidden;
  }

  .hover-circle {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--white);
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    mix-blend-mode: difference;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    svg {
      width: 70%;
      height: 70%;
    }
  }

  .video, .preview-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .preview-image {
    z-index: 1;
  }
}

.project-cards .project-title {
  font-size: 2rem;
  z-index: 2;
}

.project-cards .year {
  padding-bottom: .5rem;
  z-index: 2;
}

.title {
  position: absolute;
  left: 1000000px;
  top: 1000000px;
  transform: translate(-50%, -50%);
  color: black;
  width: 20rem;
}

.title .split-parent {
  overflow-y: hidden;
}

.navbar {
  position: fixed;
  top: 30px;
  left: 50%;
  right: 50%;
  width: fit-content;
  transform: translate(-50%, 0);
  color: black;
  background-color: white;
  z-index: 9999;
  border-radius: 100px;
  padding: 5px 20px;
  box-shadow: 0px 4px 15px 15px rgba(2, 2, 99, 0.05);
}

.navbar .content {
  display: flex;
  flex-direction: row;
  color: black;
  align-content: space-between;
  gap: 100px;
  align-items: center;
}

.navbar .tabs {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  overflow: hidden;
}

.navbar .tabs span {
  font-weight: 500;
  font-size: 1.25rem;
}

.navbar .tabs .sub-tab {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: .2s ease color, .5s ease transform;
}

.navbar .tabs .sub-tab span {
  display: flex;
  flex-direction: row;
}

.navbar .tabs .sub-tab span div {
  font-weight: 400;
}

.navbar .tabs .sub-tab span:last-child {
  position: absolute;
  top: -30px;
}

.navbar .tabs .sub-tab:hover {
  transform: translateY(30px);
  color: var(--blue);
}

.navbar .tag {
  font-weight: 450;
  font-size: 2.25rem;
}

.navbar h1 {
  margin: 0;
}

.navbar img {
  width: 1.25rem;
  transition: .5s ease;
}

.navbar img:hover {
  transform: rotate(180deg);
}

/* INTROOOOOO */

.intro {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;

  .intro-container {
    display: flex;
    align-items: baseline;
    gap: 10px;
  }

  img {
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
  }
}

.intro-title {
  color: black;
  height: fit-content;
  font-size: 5rem;
  overflow: hidden;
  height: 6rem;

  .split-parent div {
    overflow: hidden;
  }
}

/* CENTER BUTTON */

.container .center-button {
  position: fixed;
  right: 20px;
  z-index: 2000;
  padding: 10px;
  background: var(--blue);
  border: 2px transparent solid;
  cursor: pointer;
  top: 37.5px;
  transform: translate(-50%, 0);
  color: var(--white);
  background: var(--white);
  border-radius: 100px;
  box-shadow: 0px 4px 15px 15px rgba(2, 2, 99, 0.05);
  width: 40px;
  height: 40px;
  transition: .3s ease;
  opacity: 0;
  visibility: hidden;

  &:hover {
    border: 2px var(--blue) solid;
  }
}

.container .info {
  position: fixed;
  width: 66vw;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  z-index: 9999;
  height: 0;
}

.container .background-fallback {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  background-color: var(--black);
  opacity: 0;
  z-index: 9998;
  height: 100vw;
  cursor: pointer;
}