@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

* {
  font-family: 'ClashDisplay';
  font-weight: 500;
}

#root {
  margin: 0 0;
  text-align: center;
  overflow: hidden;
}

p {
  font-family: 'Archivo';
}

.card {
  padding: 2em;
}

.app-content {
  z-index: 1;
  position: relative;
}

.backgroundCanvas {
  position: absolute;
  left: -1000000px;
  top: -1000000px;
  width: 2000000px;
  height: 2000000px;
  background: transparent;
  cursor: grab;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--white-bg);
}

.box {
  background-color: var(--red);
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1000000px;
  top: 1000000px;
  transform: translate(-50%, -50%);
}

.project-cards {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: end;
  touch-action: auto !important;

  .content {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
  }

  div {
    height: fit-content;
    overflow: hidden;
  }

  .hover-circle {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--white);
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    mix-blend-mode: difference;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8;
    // background-image: url(/img/grain.png);
    background-size: cover;
    filter: brightness(160%);

    svg {
      width: 70%;
      height: 70%;
    }
  }

  .video,
  .preview-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .preview-image {
    z-index: 1;
  }

  .filter {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
        rgba(0, 0, 0, .0) 0%,
        rgba(0, 0, 0, .0) 50%,
        rgba(0, 0, 0, 0) 70%);

    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);

    -webkit-mask-image: linear-gradient(to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, .975) 20%,
        rgba(0, 0, 0, 0) 60%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, .975) 20%,
        rgba(0, 0, 0, 0) 60%);
    mask-repeat: no-repeat;
    mask-size: cover;
    z-index: 2;
    height: 100%;
  }
}

.project-cards .project-title {
  font-size: 1.7rem;
  z-index: 2;
}

.project-cards .year {
  padding-bottom: .5rem;
  z-index: 2;
}

.backgroundCanvas .title {
  position: absolute;
  left: 1000000px;
  top: 1000000px;
  transform: translate(-50%, -50%);
  color: black;
  width: 20rem;
}

.title .split-parent {
  overflow-y: hidden;
}

.navbar-container {
  z-index: 2;
  position: relative;
  transform-style: preserve-3d;
}

.navbar {
  position: fixed;
  top: 30px;
  left: 50%;
  right: 50%;
  width: fit-content;
  transform: translate(-50%, 0);
  color: black;
  background-color: white;
  z-index: 10;
  border-radius: 100px;
  padding: 5px 20px;
  box-shadow: 0px 3px 10px rgba(2, 2, 99, 0.05);
  transform-style: preserve-3d;
  user-select: none;
}

.navbar .content {
  display: flex;
  flex-direction: row;
  color: black;
  align-content: space-between;
  gap: 100px;
  align-items: center;
  transition: 1s ease;
}

.navbar .tabs,
.navbar .tabs>div {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  overflow: hidden;
}

.navbar .tabs span {
  font-weight: 500;
  font-size: 1.25rem;
}

.navbar .tabs .sub-tab {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: .2s ease color, .5s ease transform;
}

.navbar .tabs .sub-tab span {
  display: flex;
  flex-direction: row;
}

.navbar .tabs .sub-tab span div {
  font-weight: 400;
}

.navbar .tabs .sub-tab span:last-child {
  position: absolute;
  top: -30px;
}

.navbar .tabs .sub-tab:hover {
  transform: translateY(30px);
  color: var(--blue);
}

.navbar .tabs .sub-tab.active {
  transform: translateY(30px);
  color: var(--blue);
}

.navbar .tag {
  font-weight: 450;
  font-size: 2.25rem;
}

.navbar h1 {
  margin: 0;
}

.navbar .tag a {
  font-weight: 450;
}

.navbar img {
  width: 1.25rem;
  transition: .5s ease;
}

.navbar img:hover {
  transform: rotate(180deg);
}

.navbar-container .burger-icon-container {
  position: fixed;
  right: 50px;
  top: 44px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar .content {
    gap: 10px;
  }
}

/* INTROOOOOO */

.intro {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;

  .intro-container {
    display: flex;
    align-items: baseline;
    gap: 10px;
    overflow: hidden;
    width: 100vw;
    justify-content: center;
  }

  img {
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
    display: block;
    transform-box: fill-box;
  }
}

.intro-title {
  color: black;
  height: fit-content;
  font-size: 5rem;
  overflow: hidden;
  height: 6rem;

  .split-parent div {
    overflow: hidden;
  }
}

 .button button{
  text-wrap: nowrap;
}

.container .button a.sticky {
  position: sticky;
  top: 50%;
}

/* CENTER BUTTON */

.container .center-button {
  position: fixed;
  left: 40px;
  z-index: 2000;
  padding: 10px;
  background: var(--blue);
  border: 2px transparent solid;
  cursor: pointer;
  top: 35px;
  color: var(--white);
  background: var(--white);
  border-radius: 100px;
  box-shadow: 0px 3px 10px rgba(2, 2, 99, 0.05);
  width: 40px;
  height: 40px;
  transition: .3s ease;
  opacity: 0;
  visibility: hidden;

  &:hover {
    border: 2px var(--blue) solid;
  }
}

.container .info {
  position: fixed;
  width: calc(66vw - 20px); // fix the padding
  right: 0;
  bottom: 0;
  background-color: var(--white);
  z-index: 9999;
  height: 0;
  padding: 10px;
  color: var(--black);
  overflow: scroll;

  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;

    .logo {
      display: flex;
      align-items: baseline;
      gap: 5px;
    }

    .tag {
      font-weight: 450;
      font-size: 2.25rem;
      margin: 0;
    }

    img {

      width: 1.25rem;
      height: 1.25rem;
    }

    .cross {
      display: flex;
      cursor: pointer;
    }


  }

  .content {
    padding: 10px;

    .video {
      max-height: 80vh;
      object-fit: cover;
      width: 100%;
      background-color: var(--blue);
    }

    .text-content {
      display: flex;
      gap: 30px;

      >div:first-child {
        width: 66%;
        flex-grow: 4;
      }
    }

    .row.technologies {
      flex-direction: column;
      align-items: flex-start;

      span {
        margin: 10px 0;
      }
    }

    .row {
      display: flex;
      justify-content: space-between;
      min-height: 50px;
      align-items: center;

      p {
        width: 100%;
        text-align: left;
        font-weight: 300;
      }

      .icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: var(--blue);
      }
    }

    .row:not(:last-of-type) {
      border-bottom: 1px solid var(--blue);
    }
  }
}

.container .background-fallback {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  background-color: var(--black);
  opacity: 0;
  z-index: 9998;
  height: 100vw;
  cursor: pointer;
}

@media (max-width: 1024px) {

  .container .info {
    width: calc(100vw - 20px);

    .content {
      position: relative;

    .button {
      position: absolute;
      height: 100%;
      right: 15px;
      top: 0;

      a.sticky {
        left: 15px;
        width: fit-content;
        top: 90%;
      }
    }
  }
  }


}

@media(min-width: 768px) {
  .container .center-button {
    position: fixed;
    right: 40px;
    left: auto;
  }
}

/////// OFFCANVAS


.off-canvas-menu {
  height: 100vh;
  width: 100vw;
  background-color: var(--white-bg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  transform: translate(100%);
  overflow: hidden;

  .cross {
    position: absolute;
    right: 50px;
    top: 44px;
    cursor: pointer;
  }

  .boxes {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    .green {
      background-color: var(--green);
      bottom: 60px;
      right: 50px;
      width: 350px;
    }

    .blue {
      background-color: var(--blue);
      bottom: 50px;
      left: 50px;
      height: 150px;
    }

    .red {
      background-color: var(--red);
      top: 150px;
      right: 50px;
      height: 250px;
    }
  }

  .boxes div {
    height: 200px;
    width: 200px;
    position: absolute;
  }

  .content {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    display: flex;
    color: var(--black);
    flex-direction: column;
    justify-content: center;
    position: relative;

    .sub-tab {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .sub-tab.active {
      color: var(--blue);
    }

    span {
      width: fit-content;
      font-size: 5rem;
      z-index: 1;
      overflow: hidden;
      height: 6rem; // TO MODIFY
    }
  }

  .copyrights {
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: var(--black);
    right: 50%;
    width: 300px;
    transform: translate(50%);
  }
}

// Alt page

.alt-page {
  position: absolute;
  top: 0;
  color: var(--black);
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  display: flex;

  .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    height: 70%;

    .info {
      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        text-align: left;
      }

      .button {
        margin-left: auto;
      }
    }
  }

  .images {
    background-color: var(--red);
  }

  p {
    font-weight: 400;
    text-align: left;
  }

  .button.projects {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (max-width: 1024px) {

  .alt-page {
    padding: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);

  h1 {
    font-size: 2rem;
  }
  .content {
    grid-template-columns: 1fr;
    height: 90%;

    .info {
      justify-content: flex-start;
    }
  }

  .images {
    height: 45%;
    width: 100%;
  }

  p {
    font-size: .875rem;
  }
  }
}